<!DOCTYPE html>
<!--
 PureCSS: http://purecss.io/
 bootstrap
 Font Awesome: http://fortawesome.github.io/Font-Awesome/
-->
<require module="i18next" var="i18n" />

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>${i18n.t('signin.pageTitle')}</title>
        <!-- Bootstrap -->
        <link href="bootstrap.min.css" rel="stylesheet">
        <!-- <link href="bootstrap-theme.min.css" rel="stylesheet"> -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="page.css">
    </head>
    <body role="document">
    <div id="layout" class="container" role="main">

    <div>
        <include template="./notification.marko"/>
        <div id="signin">
            <div class="setlng-bar">
              <div class="btn-group" role="group" aria-label="...">
                <a href="/signin?setLng=sv" role="button" class="btn btn-default">
                  <span class="icon-lng-sv" aria-hidden="true"></span>
                  ${i18n.t('signin.lngSvBtn')}
                </a>
                <a href="/signin?setLng=en" role="button" class="btn btn-default">
                  <i class="icon-lng-en" aria-hidden="true"></i>
                  ${i18n.t('signin.lngEnBtn')}
                </a>
              </div>
            </div>
            <h1>${i18n.t('signin.header')}</h1>
            <p>${i18n.t('signin.welcomeText')}</p>
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">${i18n.t('signin.cloudAccountTitle')}</h3>
              </div>
              <div class="panel-body">
                <a href="/auth/google" class="button-signin-google" role="button"></a>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">${i18n.t('signin.localAccountTitle')}</h3>
              </div>

              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" data-bind="click: activateSignIn, css: { active: isSignInVisible}">${i18n.t('signin.accountExistsBtn')}</button>
                        <button type="button" class="btn btn-default" data-bind="click: activateLocalReg, css: { active: isLocalRegVisible}">${i18n.t('signin.createAccountBtn')}</button>
                    </div>
                  </div>
                </form>

                <form id="local-sign-in" data-bind="visible: isSignInVisible" action="/login" method="post">
                  <div class="row form-group">
                    <div class="col-sm-4">
                      <label for="username" class="control-label">${i18n.t('signin.usernameLbl')}</label>
                      <input type="text" class="form-control" name="username" placeholder="${i18n.t('signin.usernamePlaceholder')}" required/>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-4">
                      <label for="password" class="control-label">${i18n.t('signin.passwordLbl')}</label>
                      <input type="password" class="form-control" name="password" placeholder="${i18n.t('signin.passwordPlaceholder')}" required/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div>
                      <button type="submit" class="btn btn-primary">
                          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                          ${i18n.t('signin.signinBtn')}
                      </button>
                    </div>
                  </div>
                </form>
    
                <form id="local-reg" data-bind="visible: isLocalRegVisible" action="/local-reg" method="post">
                    <div class="row form-group">
                        <div class="col-sm-4">
                          <label for="username" class="control-label">${i18n.t('signin.usernameLbl')}</label>
                          <input type="email" class="form-control" name="username" placeholder="${i18n.t('signin.usernamePlaceholder')}" required/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                          <label for="fullName" class="control-label">${i18n.t('signin.regFullNameLbl')}</label>
                          <input type="text" class="form-control" name="fullName" placeholder="${i18n.t('signin.regFullNameLbl')}" required/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                          <label for="password" class="control-label">${i18n.t('signin.regPasswordLbl')}</label>
                          <input type="password" class="form-control" name="password" placeholder="${i18n.t('signin.regPasswordLbl')}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                      <div>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            ${i18n.t('signin.registerBtn')}
                        </button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </div>

    </div>
    </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.min.js"></script>
    <script src="knockout-latest.js"></script>
    <script src="knockout-bootstrap.js"></script>
    <!-- Input to javascripts below -->
    <script>
        var cfg = {
            showInitialTicker: false,
            tickerText: "${i18n.t('signin.tickerText')}",
            notificationAreaPlacement: "center",
        };
        var serverMsg = {
            error: "$data.msg.error",
            success: "$data.msg.success",
            notice: "$data.msg.notice"
        };
    </script> 
    <script src="notification.js"></script>
    <script src="signin.js"></script>
</html>
