/* Required by navbar-fixed-top */
body { padding-top: 70px; }

.highlighterror {
    background: rgb(202, 60, 60);
    color: white;
}

.button-signin-google {
  width: 191px;
  height:46px;
  display:block;
  background:transparent url('img/btn_google_signin_dark_normal_web.png') center top no-repeat;
}

.button-signin-google:hover {
  background-image: url('img/btn_google_signin_dark_focus_web.png');
}

.button-signin-google:active {
   background-image: url('img/btn_google_signin_dark_pressed_web.png');
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.typeahead,
.tt-query,
.tt-hint {
  /*width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;*/
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.typeahead:disabled {
   background-color: #eee;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.notification-area {
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  /*top: 0px;
  right: 0px;*/
  margin: 5 auto;
  text-align: center;
  z-index: 9999;
}

.notification-area2 {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  /*margin-left: -150px;
  top: 0px;
  right: 0px;*/
  margin: 5 auto;
  text-align: center;
  z-index: 9999;
}
