/* Required by navbar-fixed-top */
body { padding-top: 70px; }

.top0 { margin-top:0px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }

.bottom0 { margin-bottom:0px; }
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }

.right3 { margin-right:3px; }
.right5 { margin-right:5px; }
.right7 { margin-right:7px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }

.left3 { margin-left:3px; }
.left5 { margin-left:5px; }
.left7 { margin-left:7px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.notification-panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.notification-panel-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.invoice-customer-addr-panel-heading {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.invoice-item-group-panel-heading {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.invoice-summary-labels {
  padding-top: 0px;
  padding-bottom: 0px;
}

.valign-middle {
  vertical-align: middle;
}

.highlighterror {
    background: rgb(202, 60, 60);
    color: white;
}

.label-fix {
  display: inline-block;
  margin: 2px;
}

.button-signin-google {
  width: 191px;
  height:46px;
  display:block;
  background:transparent url('img/btn_google_signin_dark_normal_web.png') center top no-repeat;
}

.button-signin-google:hover {
  background-image: url('img/btn_google_signin_dark_focus_web.png');
}

.button-signin-google:active {
   background-image: url('img/btn_google_signin_dark_pressed_web.png');
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.setlng-bar {
  position: fixed;
  top: 0px;
  right: 0px;
}

.notification-area-center {
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  z-index: 9999;
}

.notification-area-right {
  position: fixed;
  width: 30%;
  top: 70px;
  right: 7px;
  /*margin-left: -150px;
  top: 0px;
  right: 0px;*/
  text-align: left;
  z-index: 9999;
}

.icon-lng-sv {
  background:transparent url('img/locale/se.png') center top;
  background-repeat: no-repeat;
  display: inline-block;  
  width: 16px;
  height: 11px;
  margin-right: 5px;
}

.icon-lng-en {
  background:transparent url('img/locale/gb.png') center top;
  background-repeat: no-repeat;
  display: inline-block;  
  width: 16px;
  height: 11px;
  margin-right: 5px;
}