<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
  <icon fw="true" lg="true" icon="${data.icon}" isExplicitIcon="${data.isExplicitIcon}"/>
  ${data.text}
  <span class="caret"></span>
</a>